@keyframes infinitPpoup {
  0% {
    transform: scale(1) skewX(0deg);
  }
  50% {
    transform: scale(1.1) skewY(-3deg);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
  0% {
    transform: scale(1) skewX(0deg);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

body {
  font-family: "peyda", "iransans-light";
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  background-image: linear-gradient(to left bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

form,
input,
button {
  font-family: inherit;
}

@font-face {
  font-family: "iransans-light";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/iransans/IRANSansLight.woff) format("woff");
}
@font-face {
  font-family: "iransans-bold";
  font-style: bold;
  font-weight: 500;
  src: url(/assets/fonts/iransans/IRANSansBold.woff) format("woff");
}
@font-face {
  font-family: "iransans-bolder";
  font-style: bolder;
  font-weight: 700;
  src: url(/assets/fonts/iransans/IRANSansBold.woff) format("woff");
}
@font-face {
  font-family: "peyda";
  src: url(/assets/fonts/peydar/Peyda-Regular.ttf) format("truetype");
  src: url(/assets/fonts/peydar/PeydaWeb-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "googleSans-regular";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/google-sans/ProductSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "googleSans-thin";
  src: url(/assets/fonts/google-sans/ProductSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "googleSans-bold";
  src: url(/assets/fonts/google-sans/ProductSans-Bold.ttf) format("truetype");
}
.logo {
  width: 5rem;
}

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
}
.search__input {
  font-size: inherit;
  color: #000;
  width: 93%;
  transition: all 0.2s;
  border: none;
  border-radius: 10rem;
  padding: 1rem 2rem;
  margin-left: -4rem;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  font-size: inherit;
}
.search__input::-webkit-search-decoration, .search__input::-webkit-search-cancel-button, .search__input::-webkit-search-results-button, .search__input::-webkit-search-results-decoration {
  display: none;
}
.search__input:hover::-webkit-input-placeholder {
  color: #fff;
}
.search:hover .search__input, .search:focus .search__input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #ccc;
}
.search__button {
  position: relative;
  z-index: 1;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.search__icon {
  width: 2.95rem;
  height: 2.95rem;
  background-color: transparent;
  fill: #777;
}
.user-nav {
  font-family: "googlesans-bold";
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.user-nav > * {
  cursor: pointer;
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  width: 3rem;
  height: 3rem;
  fill: #777;
}
.user-nav__icon:hover {
  fill: #999;
}
.user-nav__notification {
  font-family: "peyda";
  position: absolute;
  color: #f0eeee;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1rem;
  left: 1.7rem;
  background-color: #eb2f64;
  padding: 1.1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.user-nav__user {
  overflow: hidden;
  width: 4.8rem;
  border-radius: 50%;
}
.user-nav__user-photo {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  transform: scale(1.2);
  position: relative;
}
.user-nav__user-name {
  font-family: "peyda";
  font-weight: bold;
  margin-right: -2.6rem;
}

.sidebar {
  color: #faf9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__nav {
  list-style: none;
}
.sidebar__item {
  margin-bottom: 0.5rem;
  padding: 2.4rem 0 2.5rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.sidebar__item::before {
  content: "";
  position: absolute;
  right: 0;
  height: 0; /*it will become 100% at the hover state 5 line down*/
  width: 0.4rem;
  background-color: #eb2f64;
  transition: height 0.3s, width 0.3s 0.3s;
}
.sidebar__item:hover::before {
  height: 100%;
  width: 100%;
}
.sidebar__link {
  position: relative;
  z-index: 1;
  padding-right: 1rem;
}
.sidebar__link span {
  display: block;
  margin-top: 0.4rem;
}
.sidebar__link:link, .sidebar__link:visited {
  text-decoration: none;
  font-size: 2.2rem;
  color: #faf9f9;
  display: flex;
  align-items: center;
}
.sidebar__icon {
  width: 2.95rem;
  height: 2.95rem;
  margin-left: 2rem;
  fill: #faf9f9;
}

.copyright {
  font-size: 1.3rem;
  padding: 2.5rem 2rem;
}

.gallery {
  display: flex;
}
.gallery__img {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.overview__name {
  font-size: 2.4rem;
  margin: 0 1rem;
}
.overview__star {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.overview__star-icon {
  width: 2.55rem;
  height: 2.55rem;
  fill: #eb2f64;
}
.overview__btn {
  display: flex;
  align-items: center;
}
.overview__btn-inline {
  animation: infinitpopup;
  border: 0;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  font-size: 1.7rem;
  border-bottom: 1px solid currentColor;
  margin-right: 0.3rem;
  transition: color 0.2s;
}
.overview__btn-inline:hover {
  color: #eb2f64;
}
.overview__btn-inline:focus {
  animation: infinitPpoup 1s infinite;
  color: #eb2f64;
}
.overview__location-icon {
  width: 2.55rem;
  height: 2.55rem;
  fill: #eb2f64;
}
.overview__rating {
  font-family: "googlesans-bold";
  text-align: center;
  color: #f0eeee;
  background-color: #eb2f64;
  padding: 1.8rem;
  margin-right: 1.8rem;
}
.overview__rating-average {
  font-size: 2.2rem;
}
.overview__rating-vote span {
  font-family: "peyda";
}

.reviews__content {
  padding: 1.5rem 3.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 1.6rem rgba(0, 0, 0, 0.09);
}
.reviews__user {
  display: flex;
  align-items: center;
  margin: 1.8rem 0;
}
.reviews__user-photo {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
.reviews__user-info {
  margin-right: 1.4rem;
}
.reviews__user-date {
  font-size: 1.4rem;
}
.reviews__user-rate {
  margin-right: auto;
  font-size: 3rem;
  color: #eb2f64;
}
.reviews__link-box {
  margin-top: 4rem;
  text-align: center;
}
.reviews__link {
  text-decoration: none;
  color: #eb2f64;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}
.reviews__link:hover {
  color: #000;
}
.reviews__link span {
  display: inline-block;
  background-color: currentColor;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-mask-image: url(/assets/img/chevrons-left.svg);
  -webkit-mask-size: cover;
  margin-right: 0.7rem;
  transition: transform 0.2s;
}
.reviews__link:hover span {
  transform: translateX(-1rem);
}

.description__text:not(:last-of-type) {
  margin-bottom: 2rem;
}
.description__list {
  list-style: none;
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
}
.description__item {
  flex: 0 0 50%;
  margin-bottom: 0.5rem;
}
.description__item::before {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  background-color: red;
  display: inline-block;
  margin-left: 1rem;
  -webkit-mask-image: url(../../assets/img/chevrons-left.svg);
  -webkit-mask-size: cover;
  mask-image: url(../../assets/img/chevrons-left.svg);
  mask-size: cover;
  transform: translateY(0.2rem);
}

.user-oppinions {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.user-oppinions__img-box {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.user-oppinions__photo {
  display: inline-block;
  box-sizing: content-box;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.user-oppinions__photo:not(:last-child) {
  margin-left: -1.5rem;
  transition: margin-left, transform 0.2s;
}
.user-oppinions__photo:hover:not(:last-child) {
  transform: translateX(1.5rem);
}

.container {
  max-width: 132rem;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
}

.header {
  min-height: 7rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #faf9f9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.content {
  display: flex;
}

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
}

.main {
  flex: 1;
}

.details {
  display: flex;
  padding: 4.5rem;
}

.description {
  flex: 0 0 60%;
  margin-left: 4.5rem;
  padding: 3rem 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
}

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
