*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

body {
  font-family: "peyda", "iransans-light";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  background-image: linear-gradient(to left bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

form,
input {
  font-family: inherit;
}

@font-face {
  font-family: "iransans-light";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/iransans/IRANSansLight.woff) format("woff");
}
@font-face {
  font-family: "iransans-bold";
  font-style: bold;
  font-weight: 500;
  src: url(/assets/fonts/iransans/IRANSansBold.woff) format("woff");
}
@font-face {
  font-family: "iransans-bolder";
  font-style: bolder;
  font-weight: 700;
  src: url(/assets/fonts/iransans/IRANSansBold.woff) format("woff");
}
@font-face {
  font-family: "peyda";
  src: url(/assets/fonts/peydar/Peyda-Regular.ttf) format("truetype");
  src: url(/assets/fonts/peydar/PeydaWeb-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "googleSans-regular";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/google-sans/ProductSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "googleSans-thin";
  src: url(/assets/fonts/google-sans/ProductSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "googleSans-bold";
  src: url(/assets/fonts/google-sans/ProductSans-Bold.ttf) format("truetype");
}
.logo {
  width: 5rem;
}

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
}
.search__input {
  font-size: inherit;
  color: #000;
  width: 93%;
  transition: all 0.2s;
  border: none;
  border-radius: 10rem;
  padding: 1rem 2rem;
  margin-left: -4rem;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  font-size: inherit;
}
.search__input::-webkit-search-decoration, .search__input::-webkit-search-cancel-button, .search__input::-webkit-search-results-button, .search__input::-webkit-search-results-decoration {
  display: none;
}
.search__input:hover::-webkit-input-placeholder {
  color: #fff;
}
.search:hover .search__input, .search:focus .search__input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #ccc;
}
.search__button {
  position: relative;
  z-index: 1;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.search__icon {
  width: 2.95rem;
  height: 2.95rem;
  background-color: transparent;
  fill: #777;
}
.user-nav {
  font-family: "googlesans-bold";
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.user-nav > * {
  cursor: pointer;
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  width: 3rem;
  height: 3rem;
  fill: #777;
}
.user-nav__icon:hover {
  fill: #999;
}
.user-nav__notification {
  font-family: "peyda";
  position: absolute;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1rem;
  left: 1.7rem;
  background-color: #eb2f64;
  padding: 1.1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.user-nav__user {
  overflow: hidden;
  width: 4.8rem;
  border-radius: 50%;
}
.user-nav__user-photo {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  transform: scale(1.2);
  position: relative;
}
.user-nav__user-name {
  font-family: "peyda";
  font-weight: bold;
  margin-right: -2.6rem;
}

.container {
  max-width: 130rem;
  margin: 8rem auto;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
}

.header {
  min-height: 7rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #faf9f9;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.content {
  display: flex;
}

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
}

.main {
  flex: 1;
  background-color: #eb2f64;
}

/*# sourceMappingURL=style.css.map */
