
$Primary: #eb2f64;
$Primary-light: #FF3366;
$Primary-dark: #BA265D;

$Grey-light-600: #faf9f9;
$Grey-light-500: #f4f2f2;
$Grey-light-400: #f0eeee;
$Grey-light-300: #ccc;

$Grey-dark-400: #333;
$Grey-dark-500: #777;
$Grey-dark-600: #999;