.container {
    max-width: 130rem;
    margin: 8rem auto;
    min-height: 50rem;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.1);
}
.header {
    min-height: 7rem;
    background-color: $clr-Grey-light-600;
    border-bottom: 1px solid $clr-Grey-light-600;
}
.content {
    display: flex;
}
.nav {
    background-color: $clr-Grey-dark-400;
    flex: 0 0 18%;
    
}
.main {
    flex: 1;
    background-color: $clr-Primary;
}
