.container {
    max-width: 130rem;
    margin: 2rem auto;
    // min-height: 50rem;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
    
    @media only screen and (max-width:$br-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
.header {
    min-height: 7rem;
    background-color: $clr-Grey-light-600;
    border-bottom: 1px solid $clr-Grey-light-600;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    font-size: 1.8rem;

    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;

    @media only screen and (max-width:$br-small) {
        padding: 2rem 2rem;
        flex-wrap: wrap;
        align-content: space-evenly;
    }
}
.content {
    display: flex;
    @media only screen and (max-width:$br-medium) {
        flex-direction: column;
    }
}
.sidebar {
    background-color: $clr-Grey-dark-400;
    flex: 0 0 18%;

    
}
.main {
    flex: 1;

    display: flex;
    flex-direction: column;
}
.details {
    display: flex;
    padding: 4.5rem;
    background-color: $clr-Grey-light-600;
    border-bottom: 2px solid $clr-Grey-light-400;
    
    @media only screen and (max-width:$br-largest) {
        padding: 2.5rem;
    }

    @media only screen and (max-width:$br-small) {
        flex-direction: column;
    }
}
.description {
    flex: 0 0 60%;
    margin-left: 4.5rem;
    padding: 3rem 2rem;
    box-shadow: 0 0.5rem 1.6rem rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;

    @media only screen and (max-width:$br-largest) {
        padding: 2rem 1.5rem ;
        margin-left: 3rem;
    }
    @media only screen and (max-width:$br-small) {
        margin-left: 0;
        margin-bottom: 2rem;
    }
}

.reviews {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}