*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px*/
    @media only screen and (max-width: $br-largest){
        font-size: 50%; /* 1rem = 8px*/

    }
}
body {
    font-family: "peyda", "iransans-light";
    font-style: normal;
    font-weight: 400;
    font-size: 1.9rem;
    background-image: linear-gradient(to left bottom, $clr-Primary-light, $clr-Primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

form,
input,
button {
    font-family: inherit;
}
