@font-face {
    font-family: "iransans-light";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/iransans/IRANSansLight.woff) format("woff");
}
@font-face {
    font-family: "iransans-bold";
    font-style: bold;
    font-weight: 500;
    src: url(/assets/fonts/iransans/IRANSansBold.woff) format("woff");
}
@font-face {
    font-family: "iransans-bolder";
    font-style: bolder;
    font-weight: 700;
    src: url(/assets/fonts/iransans/IRANSansBold.woff) format("woff");
}
@font-face {
    font-family: "peyda";
    src: url(/assets/fonts/peydar/Peyda-Regular.ttf) format("truetype");
    src: url(/assets/fonts/peydar/PeydaWeb-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "googleSans-regular";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/google-sans/ProductSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "googleSans-thin";
    src: url(/assets/fonts/google-sans/ProductSans-Thin.ttf) format("truetype");
}
@font-face {
    font-family: "googleSans-bold";
    src: url(/assets/fonts/google-sans/ProductSans-Bold.ttf) format("truetype");
}